.djs .u-countdown-time {
		padding: 6rpx !important;
	}

	.ser-t-input {
		.uni-input-input {
			color: #ccc !important;
		}
	}
	.productlist-tags-u-tag {
		.u-tag {
			border-radius: 40rpx !important;
		}
	}